services:
  bug-monitor-frontend:
    image: wagnerdjive/bug-monitor-frontend:latest
    container_name: bug-monitor-frontend
    restart: unless-stopped
    networks:
      - proxy-net

networks:
  proxy-net:
    external: true
