[providers.node]
  nodeVersion = "24"

[providers.java]
  version = "17"

[phases.setup]
  nixPkgs = ["...", "maven", "jdk17"]

[phases.build]
  cmds = [
    "npm install",
    "npm run build:frontend",
    "mvn clean package -DskipTests"
  ]

[start]
  cmd = "java -jar target/*.jar"
